In [1]:
import pandas as pd

with open("iso_codes.csv") as f:
    iso_codes = pd.read_csv(f, index_col=0, usecols=['name', 'alpha-2'])

iso_codes.head()

               alpha-2
name
Afghanistan         AF
Г…land Islands      AX
Albania             AL
Algeria             DZ
American Samoa      AS

In [2]:
iso_codes = iso_codes.rename(columns={'alpha-2': 'code'})
iso_codes.head()

               code
name
Afghanistan      AF
Г…land Islands   AX
Albania          AL
Algeria          DZ
American Samoa   AS

In [4]:
with open('iso_short.csv', 'wb') as f:
    iso_codes.to_csv(f, index=True)