In [320]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.impute import SimpleImputer

In [321]:
na_vals = ['-5', '-1', '???', 'MISSINGVAL', 'MISSEDDATA', 'MISSINGVALUE', 'NA', '?']

In [322]:
with open('TrainData/init_data/Train_Claim.csv', 'r') as f:
    train_claim = pd.read_csv(f, na_values=na_vals)

with open('TrainData/init_data/Train_Policy.csv', 'r') as f:
    train_policy = pd.read_csv(f, na_values=na_vals)

with open('TrainData/init_data/Train_Vehicle.csv', 'r') as f:
    train_vehicle = pd.read_csv(f, na_values=na_vals)

with open('TrainData/init_data/Train_Demographics.csv', 'r') as f:
    train_demographics = pd.read_csv(f, na_values=na_vals)

In [323]:
print(train_claim.isna().sum())
print(train_policy.isna().sum())
print(train_vehicle.isna().sum())
print(train_demographics.isna().sum())

CustomerID                   0
DateOfIncident               0
TypeOfIncident               0
TypeOfCollission          5162
SeverityOfIncident           0
AuthoritiesContacted         0
IncidentState                0
IncidentCity                 0
IncidentAddress              0
IncidentTime                31
NumberOfVehicles             0
PropertyDamage           10459
BodilyInjuries               0
Witnesses                   46
PoliceReport              9805
AmountOfTotalClaim          50
AmountOfInjuryClaim          0
AmountOfPropertyClaim        0
AmountOfVehicleDamage        0
dtype: int64
InsurancePolicyNumber           0
CustomerLoyaltyPeriod           0
DateOfPolicyCoverage            0
InsurancePolicyState            0
Policy_CombinedSingleLimit      0
Policy_Deductible               0
PolicyAnnualPremium           141
UmbrellaLimit                   0
InsuredRelationship             0
CustomerID                      0
dtype: int64
CustomerID                  0
VehicleAttribute            0
VehicleAttributeDetails    50
dtype: int64
CustomerID                0
InsuredAge                0
InsuredZipCode            0
InsuredGender            30
InsuredEducationLevel     0
InsuredOccupation         0
InsuredHobbies            0
CapitalGains              0
CapitalLoss               0
Country                   2
dtype: int64

In [324]:
train_claim["PropertyDamage"].unique()

array([nan, 'YES', 'NO'], dtype=object)

In [325]:
train_demographics = train_demographics.drop(['Country', 'InsuredZipCode'], axis=1)

In [326]:
train_policy = train_policy.drop(['InsurancePolicyNumber'], axis=1)

In [281]:
vehicle_df = pd.get_dummies(train_vehicle, columns=['VehicleAttribute'])
vehicle_df.columns = vehicle_df.columns.str.replace('VehicleAttribute_', '')

vehicle_df.index = vehicle_df['CustomerID']
vehicle_df.drop('CustomerID', axis=1, inplace=True)

vehicle_exp_df = vehicle_df.groupby('CustomerID').sum()
for group, df in vehicle_df.groupby('CustomerID'):
    df = df.reset_index()
    for col in vehicle_exp_df.columns:
        if attr := df[df[col] == 1]['VehicleAttributeDetails'].values:
            vehicle_exp_df.loc[group, col] = attr[0]

vehicle = vehicle_exp_df.copy()
vehicle.head()

               VehicleID VehicleMake VehicleModel VehicleYOM
CustomerID
Cust10000   Vehicle26917        Audi           A5       2008
Cust10001   Vehicle15893        Audi           A5       2006
Cust10002    Vehicle5152  Volkswagen        Jetta       1999
Cust10003   Vehicle37363  Volkswagen        Jetta       2003
Cust10004   Vehicle28633      Toyota          CRV       2010

In [282]:
vehicle = vehicle.drop(['VehicleID'], axis=1)

In [283]:
with open('TrainData/vehicle.csv', 'wb') as f:
    vehicle.to_csv(f)

In [327]:
with open('TrainData/vehicle.csv', 'rb') as f:
    vehicle = pd.read_csv(f, index_col=0)

In [328]:
train = train_claim.merge(train_policy, on='CustomerID', how='left')
train = train.merge(train_demographics, on='CustomerID', how='left')
train = train.merge(vehicle, on='CustomerID', how='left')

train.head()

,CustomerID,DateOfIncident,TypeOfIncident,TypeOfCollission,SeverityOfIncident,AuthoritiesContacted,IncidentState,IncidentCity,IncidentAddress,IncidentTime,...,InsuredAge,InsuredGender,InsuredEducationLevel,InsuredOccupation,InsuredHobbies,CapitalGains,CapitalLoss,VehicleMake,VehicleModel,VehicleYOM
0,Cust10000,2015-02-03,Multi-vehicle Collision,Side Collision,Total Loss,Police,State7,City1,Location 1311,17.0,...,35,MALE,JD,armed-forces,movies,56700,-48500,Audi,A5,2008
1,Cust10001,2015-02-02,Multi-vehicle Collision,Side Collision,Total Loss,Police,State7,City5,Location 1311,10.0,...,36,MALE,JD,tech-support,cross-fit,70600,-48500,Audi,A5,2006
2,Cust10002,2015-01-15,Single Vehicle Collision,Side Collision,Minor Damage,Other,State8,City6,Location 2081,22.0,...,33,MALE,JD,armed-forces,polo,66400,-63700,Volkswagen,Jetta,1999
3,Cust10003,2015-01-19,Single Vehicle Collision,Side Collision,Minor Damage,Other,State9,City6,Location 2081,22.0,...,36,MALE,JD,armed-forces,polo,47900,-73400,Volkswagen,Jetta,2003
4,Cust10004,2015-01-09,Single Vehicle Collision,Rear Collision,Minor Damage,Fire,State8,City6,Location 1695,10.0,...,29,FEMALE,High School,exec-managerial,dancing,0,-41500,Toyota,CRV,2010

In [329]:
train['PolicyCombinedLimit'] = train['Policy_CombinedSingleLimit'].apply(lambda x: x.split('/')[0]).astype(int)
train['PolicySingleLimit'] = train['Policy_CombinedSingleLimit'].apply(lambda x: x.split('/')[1]).astype(int)
train = train.drop('Policy_CombinedSingleLimit', axis=1)

In [330]:
with open('TrainData/init_data/Traindata_with_Target.csv', 'rb') as f:
    target = pd.read_csv(f)

#target = target.reset_index()
target['ReportedFraud'] = target['ReportedFraud'].map({'Y': 1, 'N': 0})
train = train.merge(target, on='CustomerID', how='left')
train.head()

,CustomerID,DateOfIncident,TypeOfIncident,TypeOfCollission,SeverityOfIncident,AuthoritiesContacted,IncidentState,IncidentCity,IncidentAddress,IncidentTime,...,InsuredOccupation,InsuredHobbies,CapitalGains,CapitalLoss,VehicleMake,VehicleModel,VehicleYOM,PolicyCombinedLimit,PolicySingleLimit,ReportedFraud
0,Cust10000,2015-02-03,Multi-vehicle Collision,Side Collision,Total Loss,Police,State7,City1,Location 1311,17.0,...,armed-forces,movies,56700,-48500,Audi,A5,2008,100,300,0
1,Cust10001,2015-02-02,Multi-vehicle Collision,Side Collision,Total Loss,Police,State7,City5,Location 1311,10.0,...,tech-support,cross-fit,70600,-48500,Audi,A5,2006,100,300,0
2,Cust10002,2015-01-15,Single Vehicle Collision,Side Collision,Minor Damage,Other,State8,City6,Location 2081,22.0,...,armed-forces,polo,66400,-63700,Volkswagen,Jetta,1999,500,1000,0
3,Cust10003,2015-01-19,Single Vehicle Collision,Side Collision,Minor Damage,Other,State9,City6,Location 2081,22.0,...,armed-forces,polo,47900,-73400,Volkswagen,Jetta,2003,500,1000,0
4,Cust10004,2015-01-09,Single Vehicle Collision,Rear Collision,Minor Damage,Fire,State8,City6,Location 1695,10.0,...,exec-managerial,dancing,0,-41500,Toyota,CRV,2010,100,300,0

In [331]:
train = train.drop(['CustomerID'], axis=1)
with open('TrainData/merged_data.csv', 'w') as f:
    train.to_csv(f, index=False)

In [332]:
train.columns

Index(['DateOfIncident', 'TypeOfIncident', 'TypeOfCollission',
       'SeverityOfIncident', 'AuthoritiesContacted', 'IncidentState',
       'IncidentCity', 'IncidentAddress', 'IncidentTime', 'NumberOfVehicles',
       'PropertyDamage', 'BodilyInjuries', 'Witnesses', 'PoliceReport',
       'AmountOfTotalClaim', 'AmountOfInjuryClaim', 'AmountOfPropertyClaim',
       'AmountOfVehicleDamage', 'CustomerLoyaltyPeriod',
       'DateOfPolicyCoverage', 'InsurancePolicyState', 'Policy_Deductible',
       'PolicyAnnualPremium', 'UmbrellaLimit', 'InsuredRelationship',
       'InsuredAge', 'InsuredGender', 'InsuredEducationLevel',
       'InsuredOccupation', 'InsuredHobbies', 'CapitalGains', 'CapitalLoss',
       'VehicleMake', 'VehicleModel', 'VehicleYOM', 'PolicyCombinedLimit',
       'PolicySingleLimit', 'ReportedFraud'],
      dtype='object')

In [333]:
train['DateOfIncident'] = pd.to_datetime(train['DateOfIncident'].astype(str))

In [334]:
train['DateOfPolicyCoverage'] = pd.to_datetime(train['DateOfPolicyCoverage'].astype(str))

In [335]:
train['VehicleYOM'] = pd.to_datetime(train['VehicleYOM'].astype(str))

In [336]:
train['VehicleAge'] = train['DateOfIncident'].dt.year - train['VehicleYOM'].dt.year

In [337]:
train['PolicyAge'] = train['DateOfIncident'].dt.year - train['DateOfPolicyCoverage'].dt.year

In [338]:
train.head()

,DateOfIncident,TypeOfIncident,TypeOfCollission,SeverityOfIncident,AuthoritiesContacted,IncidentState,IncidentCity,IncidentAddress,IncidentTime,NumberOfVehicles,...,CapitalGains,CapitalLoss,VehicleMake,VehicleModel,VehicleYOM,PolicyCombinedLimit,PolicySingleLimit,ReportedFraud,VehicleAge,PolicyAge
0,2015-02-03,Multi-vehicle Collision,Side Collision,Total Loss,Police,State7,City1,Location 1311,17.0,3,...,56700,-48500,Audi,A5,2008-01-01,100,300,0,7,17
1,2015-02-02,Multi-vehicle Collision,Side Collision,Total Loss,Police,State7,City5,Location 1311,10.0,3,...,70600,-48500,Audi,A5,2006-01-01,100,300,0,9,15
2,2015-01-15,Single Vehicle Collision,Side Collision,Minor Damage,Other,State8,City6,Location 2081,22.0,1,...,66400,-63700,Volkswagen,Jetta,1999-01-01,500,1000,0,16,14
3,2015-01-19,Single Vehicle Collision,Side Collision,Minor Damage,Other,State9,City6,Location 2081,22.0,1,...,47900,-73400,Volkswagen,Jetta,2003-01-01,500,1000,0,12,10
4,2015-01-09,Single Vehicle Collision,Rear Collision,Minor Damage,Fire,State8,City6,Location 1695,10.0,1,...,0,-41500,Toyota,CRV,2010-01-01,100,300,0,5,19

In [339]:
datatypes = pd.DataFrame(train.dtypes, columns=['dtype'], index=train.columns)
datatypes

                                dtype
DateOfIncident         datetime64[ns]
TypeOfIncident                 object
TypeOfCollission               object
SeverityOfIncident             object
AuthoritiesContacted           object
IncidentState                  object
IncidentCity                   object
IncidentAddress                object
IncidentTime                  float64
NumberOfVehicles                int64
PropertyDamage                 object
BodilyInjuries                  int64
Witnesses                     float64
PoliceReport                   object
AmountOfTotalClaim            float64
AmountOfInjuryClaim             int64
AmountOfPropertyClaim           int64
AmountOfVehicleDamage           int64
CustomerLoyaltyPeriod           int64
DateOfPolicyCoverage   datetime64[ns]
InsurancePolicyState           object
Policy_Deductible               int64
PolicyAnnualPremium           float64
UmbrellaLimit                   int64
InsuredRelationship            object
InsuredAge                      int64
InsuredGender                  object
InsuredEducationLevel          object
InsuredOccupation              object
InsuredHobbies                 object
CapitalGains                    int64
CapitalLoss                     int64
VehicleMake                    object
VehicleModel                   object
VehicleYOM             datetime64[ns]
PolicyCombinedLimit             int32
PolicySingleLimit               int32
ReportedFraud                   int64
VehicleAge                      int64
PolicyAge                       int64

In [340]:
object_cols = datatypes[datatypes['dtype'] == 'object'].index
object_cols = object_cols.tolist()
train[object_cols] = train[object_cols].astype('category')

In [341]:
datatypes = pd.DataFrame(train.dtypes, columns=['dtype'], index=train.columns)
datatypes

                                dtype
DateOfIncident         datetime64[ns]
TypeOfIncident               category
TypeOfCollission             category
SeverityOfIncident           category
AuthoritiesContacted         category
IncidentState                category
IncidentCity                 category
IncidentAddress              category
IncidentTime                  float64
NumberOfVehicles                int64
PropertyDamage               category
BodilyInjuries                  int64
Witnesses                     float64
PoliceReport                 category
AmountOfTotalClaim            float64
AmountOfInjuryClaim             int64
AmountOfPropertyClaim           int64
AmountOfVehicleDamage           int64
CustomerLoyaltyPeriod           int64
DateOfPolicyCoverage   datetime64[ns]
InsurancePolicyState         category
Policy_Deductible               int64
PolicyAnnualPremium           float64
UmbrellaLimit                   int64
InsuredRelationship          category
InsuredAge                      int64
InsuredGender                category
InsuredEducationLevel        category
InsuredOccupation            category
InsuredHobbies               category
CapitalGains                    int64
CapitalLoss                     int64
VehicleMake                  category
VehicleModel                 category
VehicleYOM             datetime64[ns]
PolicyCombinedLimit             int32
PolicySingleLimit               int32
ReportedFraud                   int64
VehicleAge                      int64
PolicyAge                       int64

In [342]:
num_cols = datatypes[datatypes['dtype'] != 'category'].index
num_cols = num_cols.tolist()
num_cols.remove('ReportedFraud')
num_cols.remove('Witnesses')
num_cols.remove('NumberOfVehicles')
num_cols

['DateOfIncident',
 'IncidentTime',
 'BodilyInjuries',
 'AmountOfTotalClaim',
 'AmountOfInjuryClaim',
 'AmountOfPropertyClaim',
 'AmountOfVehicleDamage',
 'CustomerLoyaltyPeriod',
 'DateOfPolicyCoverage',
 'Policy_Deductible',
 'PolicyAnnualPremium',
 'UmbrellaLimit',
 'InsuredAge',
 'CapitalGains',
 'CapitalLoss',
 'VehicleYOM',
 'PolicyCombinedLimit',
 'PolicySingleLimit',
 'VehicleAge',
 'PolicyAge']

In [343]:
cat_cols = datatypes[datatypes['dtype'] == 'category'].index
cat_cols = cat_cols.tolist()
cat_cols.extend(['Witnesses', 'NumberOfVehicles'])
cat_cols

['TypeOfIncident',
 'TypeOfCollission',
 'SeverityOfIncident',
 'AuthoritiesContacted',
 'IncidentState',
 'IncidentCity',
 'IncidentAddress',
 'PropertyDamage',
 'PoliceReport',
 'InsurancePolicyState',
 'InsuredRelationship',
 'InsuredGender',
 'InsuredEducationLevel',
 'InsuredOccupation',
 'InsuredHobbies',
 'VehicleMake',
 'VehicleModel',
 'Witnesses',
 'NumberOfVehicles']

In [344]:
len(cat_cols) + len(num_cols) == len(train.columns) - 1

True

In [345]:
dates = datatypes[datatypes['dtype'] == 'datetime64[ns]'].index
dates = dates.tolist()
dates

['DateOfIncident', 'DateOfPolicyCoverage', 'VehicleYOM']

In [346]:
train[dates] = train[dates] - pd.Timestamp("1980-01-01")

In [347]:
train[dates].head()

  DateOfIncident DateOfPolicyCoverage VehicleYOM
0     12817 days            6872 days 10227 days
1     12816 days            7624 days  9497 days
2     12798 days            7713 days  6940 days
3     12802 days            9232 days  8401 days
4     12792 days            6142 days 10958 days

In [348]:
train[dates].dtypes

DateOfIncident          timedelta64[ns]
DateOfPolicyCoverage    timedelta64[ns]
VehicleYOM              timedelta64[ns]
dtype: object

In [349]:
train[dates] = train[dates].astype('int64')

In [350]:
cat_imputer = SimpleImputer(strategy='most_frequent')
train[cat_cols] = cat_imputer.fit_transform(train[cat_cols])

num_imputer = SimpleImputer(strategy='median')
train[num_cols] = num_imputer.fit_transform(train[num_cols])

In [351]:
train.head()

,DateOfIncident,TypeOfIncident,TypeOfCollission,SeverityOfIncident,AuthoritiesContacted,IncidentState,IncidentCity,IncidentAddress,IncidentTime,NumberOfVehicles,...,CapitalGains,CapitalLoss,VehicleMake,VehicleModel,VehicleYOM,PolicyCombinedLimit,PolicySingleLimit,ReportedFraud,VehicleAge,PolicyAge
0,1.107389e+18,Multi-vehicle Collision,Side Collision,Total Loss,Police,State7,City1,Location 1311,17.0,3,...,56700.0,-48500.0,Audi,A5,8.836128e+17,100.0,300.0,0,7.0,17.0
1,1.107302e+18,Multi-vehicle Collision,Side Collision,Total Loss,Police,State7,City5,Location 1311,10.0,3,...,70600.0,-48500.0,Audi,A5,8.205408e+17,100.0,300.0,0,9.0,15.0
2,1.105747e+18,Single Vehicle Collision,Side Collision,Minor Damage,Other,State8,City6,Location 2081,22.0,1,...,66400.0,-63700.0,Volkswagen,Jetta,5.996160e+17,500.0,1000.0,0,16.0,14.0
3,1.106093e+18,Single Vehicle Collision,Side Collision,Minor Damage,Other,State9,City6,Location 2081,22.0,1,...,47900.0,-73400.0,Volkswagen,Jetta,7.258464e+17,500.0,1000.0,0,12.0,10.0
4,1.105229e+18,Single Vehicle Collision,Rear Collision,Minor Damage,Fire,State8,City6,Location 1695,10.0,1,...,0.0,-41500.0,Toyota,CRV,9.467712e+17,100.0,300.0,0,5.0,19.0

In [352]:
scaler = StandardScaler()
train[num_cols] = scaler.fit_transform(train[num_cols])

train[num_cols].head()

,DateOfIncident,IncidentTime,BodilyInjuries,AmountOfTotalClaim,AmountOfInjuryClaim,AmountOfPropertyClaim,AmountOfVehicleDamage,CustomerLoyaltyPeriod,DateOfPolicyCoverage,Policy_Deductible,PolicyAnnualPremium,UmbrellaLimit,InsuredAge,CapitalGains,CapitalLoss,VehicleYOM,PolicyCombinedLimit,PolicySingleLimit,VehicleAge,PolicyAge
0,0.217735,0.851958,0.018118,0.525592,1.373190,-0.277179,0.463147,-1.541739,-0.486356,-0.209070,1.810844,-0.499515,-0.477146,1.216956,-0.844038,0.547253,-1.081375,-0.983964,-0.547450,0.533940
1,0.158341,-0.287094,1.292409,0.361359,1.857203,-0.311916,0.123263,-0.891292,-0.172670,-0.209070,-0.031901,-0.499515,-0.352087,1.719899,-0.844038,0.170856,-1.081375,-0.983964,-0.170793,0.229272
2,-0.910754,1.665567,1.292409,0.575591,0.969581,0.993227,0.323077,-0.360927,-0.135545,-0.909735,0.544976,-0.499515,-0.727263,1.567931,-1.388592,-1.147564,1.397586,1.444450,1.147508,0.076938
3,-0.673178,1.665567,1.292409,0.555177,1.053826,1.078469,0.253098,-0.130769,0.498085,-0.717647,0.370336,-0.499515,-0.352087,0.898547,-1.736104,-0.394255,1.397586,1.444450,0.394193,-0.532398
4,-1.267120,-0.287094,1.292409,0.048842,0.336953,-0.011397,-0.011466,-0.881285,-0.790865,-1.123777,0.449066,1.673834,-1.227498,-0.834616,-0.593256,0.924165,-1.081375,-0.983964,-0.924108,0.838608

In [353]:
one_hot = OneHotEncoder(handle_unknown='ignore')
train_cat = one_hot.fit_transform(train[cat_cols])
train_cat = pd.DataFrame(train_cat.toarray(), columns=one_hot.get_feature_names_out(cat_cols))
train_cat.head()

,TypeOfIncident_Multi-vehicle Collision,TypeOfIncident_Parked Car,TypeOfIncident_Single Vehicle Collision,TypeOfIncident_Vehicle Theft,TypeOfCollission_Front Collision,TypeOfCollission_Rear Collision,TypeOfCollission_Side Collision,SeverityOfIncident_Major Damage,SeverityOfIncident_Minor Damage,SeverityOfIncident_Total Loss,...,VehicleModel_X5,VehicleModel_X6,Witnesses_0.0,Witnesses_1.0,Witnesses_2.0,Witnesses_3.0,NumberOfVehicles_1,NumberOfVehicles_2,NumberOfVehicles_3,NumberOfVehicles_4
0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0

In [354]:
train_cat = train_cat.astype('int64')

In [355]:
train_cat.head()

,TypeOfIncident_Multi-vehicle Collision,TypeOfIncident_Parked Car,TypeOfIncident_Single Vehicle Collision,TypeOfIncident_Vehicle Theft,TypeOfCollission_Front Collision,TypeOfCollission_Rear Collision,TypeOfCollission_Side Collision,SeverityOfIncident_Major Damage,SeverityOfIncident_Minor Damage,SeverityOfIncident_Total Loss,...,VehicleModel_X5,VehicleModel_X6,Witnesses_0.0,Witnesses_1.0,Witnesses_2.0,Witnesses_3.0,NumberOfVehicles_1,NumberOfVehicles_2,NumberOfVehicles_3,NumberOfVehicles_4
0,1,0,0,0,0,0,1,0,0,1,...,0,0,1,0,0,0,0,0,1,0
1,1,0,0,0,0,0,1,0,0,1,...,0,0,0,1,0,0,0,0,1,0
2,0,0,1,0,0,0,1,0,1,0,...,0,0,0,0,0,1,1,0,0,0
3,0,0,1,0,0,0,1,0,1,0,...,0,0,0,0,0,1,1,0,0,0
4,0,0,1,0,0,1,0,0,1,0,...,0,0,0,1,0,0,1,0,0,0

In [356]:
train_num = train[num_cols]
train_num.head()

,DateOfIncident,IncidentTime,BodilyInjuries,AmountOfTotalClaim,AmountOfInjuryClaim,AmountOfPropertyClaim,AmountOfVehicleDamage,CustomerLoyaltyPeriod,DateOfPolicyCoverage,Policy_Deductible,PolicyAnnualPremium,UmbrellaLimit,InsuredAge,CapitalGains,CapitalLoss,VehicleYOM,PolicyCombinedLimit,PolicySingleLimit,VehicleAge,PolicyAge
0,0.217735,0.851958,0.018118,0.525592,1.373190,-0.277179,0.463147,-1.541739,-0.486356,-0.209070,1.810844,-0.499515,-0.477146,1.216956,-0.844038,0.547253,-1.081375,-0.983964,-0.547450,0.533940
1,0.158341,-0.287094,1.292409,0.361359,1.857203,-0.311916,0.123263,-0.891292,-0.172670,-0.209070,-0.031901,-0.499515,-0.352087,1.719899,-0.844038,0.170856,-1.081375,-0.983964,-0.170793,0.229272
2,-0.910754,1.665567,1.292409,0.575591,0.969581,0.993227,0.323077,-0.360927,-0.135545,-0.909735,0.544976,-0.499515,-0.727263,1.567931,-1.388592,-1.147564,1.397586,1.444450,1.147508,0.076938
3,-0.673178,1.665567,1.292409,0.555177,1.053826,1.078469,0.253098,-0.130769,0.498085,-0.717647,0.370336,-0.499515,-0.352087,0.898547,-1.736104,-0.394255,1.397586,1.444450,0.394193,-0.532398
4,-1.267120,-0.287094,1.292409,0.048842,0.336953,-0.011397,-0.011466,-0.881285,-0.790865,-1.123777,0.449066,1.673834,-1.227498,-0.834616,-0.593256,0.924165,-1.081375,-0.983964,-0.924108,0.838608

In [357]:
import pickle

with open('TrainData/train_cat.pkl', 'wb') as f:
    pickle.dump(train_cat, f)
with open('TrainData/train_num.pkl', 'wb') as f:
    pickle.dump(train_num, f)

In [358]:
train_full = pd.concat([train_cat, train_num], axis=1)

In [359]:
with open('TrainData/train_full.pkl', 'wb') as f:
    pickle.dump(train_full, f)

In [360]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
train[cat_cols] = train[cat_cols].apply(le.fit_transform)

train.head()

,DateOfIncident,TypeOfIncident,TypeOfCollission,SeverityOfIncident,AuthoritiesContacted,IncidentState,IncidentCity,IncidentAddress,IncidentTime,NumberOfVehicles,...,CapitalGains,CapitalLoss,VehicleMake,VehicleModel,VehicleYOM,PolicyCombinedLimit,PolicySingleLimit,ReportedFraud,VehicleAge,PolicyAge
0,0.217735,0,2,2,4,4,0,279,0.851958,2,...,1.216956,-0.844038,1,5,0.547253,-1.081375,-0.983964,0,-0.547450,0.533940
1,0.158341,0,2,2,4,4,4,279,-0.287094,2,...,1.719899,-0.844038,1,5,0.170856,-1.081375,-0.983964,0,-0.170793,0.229272
2,-0.910754,2,2,1,3,5,5,980,1.665567,0,...,1.567931,-1.388592,13,20,-1.147564,1.397586,1.444450,0,1.147508,0.076938
3,-0.673178,2,2,1,3,6,5,980,1.665567,0,...,0.898547,-1.736104,13,20,-0.394255,1.397586,1.444450,0,0.394193,-0.532398
4,-1.267120,2,1,1,1,5,5,624,-0.287094,0,...,-0.834616,-0.593256,12,8,0.924165,-1.081375,-0.983964,0,-0.924108,0.838608

In [361]:
with open('train_label_encoded.pkl', 'wb') as f:
    pickle.dump(train, f)

In [362]:
with open('TrainData/target.pkl', 'wb') as f:
    pickle.dump(train.ReportedFraud, f)

In [2]:
import pickle
import pandas as pd
import numpy as np

with open('TrainData/train_full.pkl', 'rb') as f:
    train_full = pickle.load(f)

with open('TrainData/target.pkl', 'rb') as f:
    target = pickle.load(f)

with open('TrainData/train_cat.pkl', 'rb') as f:
    train_cat = pickle.load(f)

with open('TrainData/train_num.pkl', 'rb') as f:
    train_num = pickle.load(f)

In [3]:
datatypes = pd.DataFrame(train_full.dtypes, columns=['dtype'], index=train_full.columns)
datatypes

                                           dtype
TypeOfIncident_Multi-vehicle Collision     int64
TypeOfIncident_Parked Car                  int64
TypeOfIncident_Single Vehicle Collision    int64
TypeOfIncident_Vehicle Theft               int64
TypeOfCollission_Front Collision           int64
...                                          ...
VehicleYOM                               float64
PolicyCombinedLimit                      float64
PolicySingleLimit                        float64
VehicleAge                               float64
PolicyAge                                float64

[1167 rows x 1 columns]

In [4]:
cat_cols = datatypes[datatypes['dtype'] == 'int64'].index
cat_cols = cat_cols.tolist()

num_cols = datatypes[datatypes['dtype'] == 'float64'].index
num_cols = num_cols.tolist()

train_full[cat_cols] = train_full[cat_cols].astype('category')
train_full[num_cols] = train_full[num_cols].astype('float32')

train_full[cat_cols].dtypes

TypeOfIncident_Multi-vehicle Collision     category
TypeOfIncident_Parked Car                  category
TypeOfIncident_Single Vehicle Collision    category
TypeOfIncident_Vehicle Theft               category
TypeOfCollission_Front Collision           category
                                             ...
Witnesses_3.0                              category
NumberOfVehicles_1                         category
NumberOfVehicles_2                         category
NumberOfVehicles_3                         category
NumberOfVehicles_4                         category
Length: 1147, dtype: object

In [5]:
with open('TrainData/train_full.pkl', 'wb') as f:
    pickle.dump(train_full, f)

In [6]:
train_num = train_num.astype('float32')

In [7]:
train_cat = train_cat.astype('category')

In [8]:
with open('TrainData/train_cat.pkl', 'wb') as f:
    pickle.dump(train_cat, f)

with open('TrainData/train_num.pkl', 'wb') as f:
    pickle.dump(train_num, f)

In [9]:
target = target.astype('category')

with open('TrainData/target.pkl', 'wb') as f:
    pickle.dump(target, f)